.signatureCanvas {
    min-height: 95%;
    background-color: white;
    padding:5px;
    
   justify-Content: center;
  }
  

  .signatureCanvas2 {
    border: solid;
    background: white;
    width: 100%;
    min-Height: 500px,;
    margin-Bottom: 0px,;
  }